*, *::before, *::after {
   box-sizing: border-box;
}


.heading {
   font-size: 2rem;
}

.container {
   width: 100%;
   min-height: 100vh;
}

.list-item{
   margin-top: .5em;
   padding: .5em;
   border-radius: .3em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.input {
   width: 100%;
   padding: .3em;
   border: 1px solid black;
   border-radius: .5em;
}

.remove-icon {
   width: 12%;
   cursor: pointer;
}

.remove-icon:hover {
   width: 13%;
}

#list-number {
   color: rgb(52, 137, 194);
}

#warning {
   color: red;
}

@media (min-width: 500px) {
   .list-item {
      padding: .1em;
   }

   .remove-icon {
      width: 4%;
   }

   .remove-icon:hover {
      width: 5%;
   }

   .input {
      width: 60%;
   }
   
}